extends ../layout

block after_script
  script(src='/js/pages/menu.js')

block content
  h1 ORDER DETAILS
  p.lead Order
    span=' ' + order.orderCode
  hr
  .row
    .col-md-4
      .well
        p
            label Customer Name:
                b=order.customerName
        p
            label Customer Phone Number:
                b=order.customerPhone
        p
            label Total:
                b=order.total.toLocaleString()
        p
            label Order date:
                b=order.createdAt.toLocaleString()
    .col-md-8
      form#menuDeleteForm(method="POST" action="/e-menu/delete")
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='id', value=0)
      table.table.table-strip
        thead
          th 
          th Name
          th Price
          th Quantity
          th Total
        tbody
          each item in order.detail
            tr
              td
                image.img-thumbnail(src=item.image, width="56", alt=item.name)
              td=item.name
              td=item.price
              td=item.quantity.toLocaleString()
              td=(item.price*item.quantity).toLocaleString()
                

                