extends ../layout

block after_script
  script(src='/js/pages/order.js')

block content
  h1 ORDERS
  p.lead Manage customer's orders
  hr
  .row
    .col-md-12
      form#menuDeleteForm(method="POST" action="/order/delete")
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='id', value=0)
      table.table.table-strip
        thead
          th #
          th Customer Name
          th Customer Phone
          th Total
          th Order Date
          th Actions
        tbody
          each order in orders
            tr
              td=order.orderCode
              td=order.customerName
              td=order.customerPhone
              td=order.total.toLocaleString()
              td=order.createdAt.toLocaleString()
              td
                .btn-group.btn-group-sm
                  a.btn.btn-primary(href="/order/edit/"+order.id)
                    i.fa.fa-edit
                  button.btn.btn-danger.delete-menu(data-item=order.id)
                    i.fa.fa-trash
                </div>
                

                