extends ../layout

block after_script
  script(src='/js/pages/menu.js')

block content
  h1 MENU UPDATE
  p.lead=item.name
  hr
  .row
    .col-md-4.col-offset-md-4
      .well
        form#menuForm(method="POST" action="/e-menu/createorupdate" enctype='multipart/form-data' novalidate="novalidate")
            input(type='hidden', name='id', value=item.id)
            .form-group
                label.control-label(for="name") Food or Drink name
                input#name.form-control(name="name" type="text" value=item.name required="true" placeholder="Orange Juice..." autofocus=true)
                span.help-block            
            .form-group
                label.control-label(for="price") Price
                input#price.form-control(name="price" type="number" value=item.price required="true")
                span.help-block    
            .form-group
                label.control-label(for="display_order") Display order
                input#display_order.form-control(name="display_order" value=item.displayOrder type="number" required="true")
                span.help-block            
            .form-group
                label.control-label(for="image") Image
                <br/>
                image.img-thumbnail(src=item.image, width="156", alt=item.name)
                <br/>
                <br/>
                input#image.form-control(name="image" type="file" required="true" accept="image/*" placeholder="Update image")
                span.help-block
            button.btn.btn-success.btn-block(type="submit") Save changes
                